@font-face {
    font-family: 'Sofia Sans';
    src: url('fonts/SofiaSans-Italic.woff2') format('woff2'),
        url('fonts/SofiaSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* Allgemeine Stile */
body {
  }

#protfolio img {
    border-radius: 5%;
}
  
#raw {
    margin: 10 10 10 10;
}



  /* Stile für die Sucheingabe */
  #search-input {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  #search-button {
    width: 10%;
    height: 75%;
    margin-top: auto;
    margin-bottom: auto;
  }

  .form-group {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  /* Stile für die Projekte */
  .project {
    cursor: pointer;
  }
  
  .project-info {
    padding: 10px;
  }
  
  /* Stil für gefilterte Projekte */
  .project[style="display: none;"] {
    display: none;
  }

  #footer {
  }

  #footer-div {
    height: 50px;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: #161616;
    -webkit-box-shadow: 0px 0px 15px 5px #00000079; 
    box-shadow: 0px 0px 15px 5px #00000079;
    color: #ffffffad;
    text-align: right;
    padding: 10px 10px 10px 10px;
  }